@media(max-width: 600px) {


    #nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #part1 a {

        display: none;

    }

    #nav #part1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #nav #part1 img {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }


    #photo {
        width: 100%;
        height: 90%;
        border-radius: 45%;
    }

    #center {
        padding: 2vh 2vw;
    }

    #bottemnav {
        width: 98vw;
        height: 10vh;
        bottom: 2%;
        position: fixed;
    }

    #bottemnav button {
        padding: 1.8vh 4.5vw;
        border-radius: 15px;
        font-size: 20px;
    }

    #slide {
        padding: 5vw 0vw;
    }

    #one {
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(-20deg);
    }

    #two {
        transform: rotate(-20deg);
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #three {
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(-20deg);
    }

    #one h3 {
        font-size: 25vw;
        /* font-family: "gilroy"; */
        font-weight: 500;
    }

    #two h3 {
        font-size: 25vw;
    }

    #three h3 {
        font-size: 25vw;
    }

    #made {
        width: 150px;
    }

    #made2 {
        width: 350px;

    }

    #page2 {
        height: 100vh;

    }

    #page3 {
        padding-top: 10vh;
    }


    .bar {
        width: 100vw;
        height: 6vh;
        margin-top: 1vh;
    }

    .bar h1 {
        font-family: "teko";
        font-size: 9vw;
        color: #C33130;
        margin-top: 70px;
        line-height: 1;
        text-transform: uppercase;
    }

    #secbar {
        width: 100vw;
        height: 12vh;
        margin-top: 10vh;
        overflow: hidden;
    }

    #secbar>h3 {
        line-height: 1;
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        font-family: "teko";
        font-size: 6vw;
        font-weight: 100;
        transform: translate(-50%, -50%);
        color: #C33130;
        /* z-index: 999; */
        text-transform: uppercase;
        margin-top: 80px;

    }

    #plate1 {
        cursor: pointer;
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        position: relative;
        bottom: -10%;
        right: 25%;
        background-image: url(https://bavet.eu/assets/uploads/2023/03/kennys-revenge-1.png);
        background-size: cover;
        background-position: center;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

    }

    #arrow {
        display: block;
        opacity: 0;

    }

    #arrow3 {
        opacity: 1;
        left: 50%;
        width: 25vw;
        height: 25vw;
        border-radius: 50%;
        position: absolute;
        transform: rotate(60deg);
        top: 55%;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    }

    #plate2 {
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        position: absolute;
        bottom: 7%;
        right: -15%;
        background-color: red;
        background-image: url(https://bavet.eu/assets/uploads/2023/03/holy-grail-1-1.png);
        background-size: cover;
        background-position: center;
        cursor: pointer;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    }

    #plate3 {

        width: 40vw;
        height: 40vw;
        cursor: pointer;
        top: 40%;
        left: 10%;
    }

    #plate4 {
        cursor: pointer;

        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        bottom: 10%;
        left: 40%;
        transform: translate(-50%, 0%);
    }


    #plate5 {
        cursor: pointer;

        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        position: absolute;
        top: 15%;
        right: 5%;
        transform: translate(0%, -50%);
        background-color: red;
        background-image: url(https://bavet.eu/assets/uploads/2023/03/baveat-combo-1.png);
        background-size: cover;
        background-position: center;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    }

    #plate6 {
        cursor: pointer;

        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 4%;
        transform: translate(50%, -50%);
    }

    #arrow2 {
        opacity: 0;
    }


    #arrow4 {
        display: block;
        opacity: 1;
        right: 25%;
        width: 25vw;
        height: 25vw;
        border-radius: 50%;
        position: absolute;
        bottom: 35%;
        left: 33%;
        transform: rotate(-210deg);
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

    }

    #page5 {
        overflow: hidden;
    }

    #page5>button {
        text-align: center;
        position: relative;
        transform: translate(-50%);
        padding: 2vh 16vw;
        font-family: "teko";
        background-color: #c33130;
        color: white;
        text-transform: uppercase;
        font-size: 3vh;
        border: none;
        outline: none;
        cursor: pointer;

    }


    #page5 #picture {
        width: 98vw;
        height: 90vh;
        white-space: nowrap;
        overflow-x: hidden;
        border-radius: 0px;
        margin: 5px 5px;
    }

    #page5 #picture .imge {
        width: 100%;
        height: 100%;


    }


    #page5 #text {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100vw;
        height: 85vh;
        padding: 15vh 6vw;
    }

    #page5 #text h3 {

        font-size: 11vw;
        line-height: 0.9;
        font-weight: 400;
    }

    #page5 #text button {
        padding: 2vh 16vw;
        font-size: 3vh;
    }

    #page6 {
        padding-bottom: 5vh;
        height: 60vh;
    }

    .thirdbar {
        width: 100vw;
        height: 12vh;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;

    }

    .thirdbar h1 {
        text-align: center;
        font-family: "teko";
        font-size: 14vw;
        color: #C33130;
        text-transform: uppercase;

    }

    .fourbar {
        width: 100vw;
    }

    .fourbar>h3 {
        font-size: 7vw;
        margin-top: 120px;
    }


    #page7 #cd {

        width: 90vw;
        height: 90vw;
        border-radius: 50%;
        position: relative;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #C33130;
    }

    #page7 img {
        width: 90vw;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    #page7 #rframe {
        display: none;
    }

    #page7 #lframe {
        width: 60vw;
        height: 55vh;
        border-radius: 5px;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, 0%);
        background-color: #4715ea;

    }




    #page8 img {
        object-position: center;
        z-index: 11;
        width: 90vw;
        height: 90vw;
        position: relative;
        top: -1.9%;
        left: 50%;

        transform: translate(-50%, -50%) rotate(0deg);
    }

    #page8 #cd2 {
        width: 72vw;
        height: 72vw;
        border-radius: 50%;
        position: relative;
        top: 40%;
        left: 48%;
        transform: translate(-50%, -50%);
        background-color: #C33130;
        background-image: url(https://bavet.eu/assets/uploads/2023/05/takeout-bag-1.jpg);
        background-size: cover;
        background-position: center;
        z-index: 2;
    }


    #page9 {
        width: 100vw;
        height: 30vh;

    }

    #horigental {
        width: 100vw;
        height: 10vh;

        gap: 30px;
        padding: 0 5px;
    }


    .box {
        width: 33%;
        height: 85%;
        border-radius: 10px;
    }

    #page9 h3 {
        font-size: 7vw;
    }

    #page10 {
        width: 100vw;
        height: 100vh;
        /* background-color:rgb(77, 144, 244); */
        display: initial;
    }

    #left {
        width: 100vw;
        height: 50vh;
        padding-right: 30vw;
        background-color: #C33130;

    }

    #left #mobile {
        position: relative;
        object-fit: cover;
        object-position: center;
        height: 100%;
        left: -20%;

    }

    #right {
        padding: 5vh 0;
        width: 100vw;
        position: relative;
        height: 70vh;
        background-color: #C33130;
    }

    .fifthbar {
        width: 100vw;
        height: 6vh;
        overflow: hidden;
        right: 0%;
        top: 0%;
        position: relative;
    }

    .fifthbar h1 {
        position: relative;
        top: 80%;

        font-family: "teko";
        font-size: 10vw;
        color: #fff;
        text-transform: uppercase;

    }

    #right h5 {
        position: relative;
        font-size: 6vw;
        font-weight: 100;
        line-height: 0.8;
        color: #fff;
        opacity: 0.7;

        top: 6%;
        font-family: "teko";


    }

    #right #scan {
        width: 18vw;
        height: 15vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 18%;

    }


    #page11 {
        width: 100vw;
        height: 90vh;
        position: relative;
        /* background-color: #4715ea; */
    }

    #page11 h2 {
        font-family: "teko";
        text-align: center;
        font-size: 10vw;
        line-height: 0.8;

    }

    #container {
        width: 100vw;
        margin-top: 80px;
        height: 55vh;
        /* gap: 10px; */
        position: relative;
    }

    #container .card {
        position: absolute;
        width: 45vw;
        height: 30vw;
        border-radius: 10px;
        /* background-color: white; */

        transition: ease-in-out 0.3s;
    }

    #container .card:nth-child(1) {
        top: 0%;
        left: 0%;
    }

    #container .card:nth-child(2) {
        top: 0%;
        right: 0%;
    }

    #container .card:nth-child(3) {
        top: 40%;
        right: 0%;
    }

    #container .card:nth-child(4) {
        top: 40%;
        left: 0%;
    }

    #container .card img {
        width: 60%;
    }

    #page12 {
        width: 100vw;
        height: 100vh;
        background-color: #bcb0e2;
        position: relative;
        display: initial;
    }

    #lside {
        display: none;
        width: 100vw;
        height: 40vh;
        background-color: #9e201f;
    }

    #rside {
        width: 100vw;
        height: 60vh;
        background-color: #8eff8a;
        background: url(https://bavet.eu/assets/uploads/2023/05/baveteer-lena.webp);
        background-size: cover;
        background-position: center;
    }

    #page13 h4 {
        font-size: 4vh;
    }

    #page13 #finger {
        position: absolute;
        right: -35%;
        top: 2%;
        width: 55vw;

    }

    #page13 {
        height: 200vh;

    }


    #page16 {
        width: 100vw;
        height: 100vh;
        background-color: #bcb0e2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #h1 {
        font-size: 5vw;
        font-family: gilroy;
    }

    #h1 span {
        position: relative;
        display: inline-block;


        animation: annu 2s ease-in-out infinite;

    }

    #page13 #pics {

        flex-direction: column;
        /* background-color: lightseagreen; */
        /* padding: 0 3vw; */
        gap: 5px;
        margin-top: 4vh;

        width: 100vw;
        height: 150vh;
        /* background-color: #8eff8a; */
    }


    #page13 #pics .smallcard {
        width: 100%;
        height: 50%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }

    #page13 #pics .smallcard .cardpic {


        border-radius: 10px;
    }


    .smallcard h2 {

        font-size: 6vw;
    }

    .smallcard p {
        font-size: 2vh;

    }

    .smallcard h3 {
        font-size: 2.4vh;

    }

    #page13 button {

        bottom: 1%;
        left: 50%;
        padding: 2vh 12vw;

        font-size: 16px;

    }

    #page14 {
        display: initial;
        height: 50vh;
    }



    #side1 {
        border-radius: 0px;
        width: 100vw;
        height: 49vh;

    }

    #side1 img {
        width: 100%;
        height: 90%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }



    #side2 {
        display: none;
    }

    #page15 {
        width: 100vw;
        height: 100vh;
        background-color: #C33130;
        position: relative;
        font-family: "teko";
    }

    #page15 #kalam1 {
        left: 3%;
        top: 3%;
        width: 25vw;
        height: 15vh;
        gap: 1px;
    }

    #page15 #kalam1 h3 {

        font-size: 3vh;
    }

    #page15 #kalam2 {
        left: 3%;
        top: 25%;
        width: 40vw;
        height: 40vh;
        gap: 1px;

    }

    #page15 #kalam2 h3 {

        font-size: 3vh;
    }


    #page15 #kalam3 {
        position: absolute;
        left: 60%;
        top: 25%;
        width: 25vw;
        height: 15vh;
        display: flex;
        flex-direction: column;
        gap: 0px;

    }

    #page15 #kalam3 h3 {
        opacity: 0.9;
        font-size: 3vh;
    }


    #page15 #kalam4 {
        position: absolute;
        left: 3%;
        top: 65%;
        width: 80vw;
        height: 30vh;
        /* background-color: #2b90f4; */
        display: flex;
        flex-direction: column;
        gap: 8vh;

    }

    #kalam4 #icon {
        width: 100%;
        height: 25%;
    }

    #kalam4 #icon img {
        margin-top: 2vh;
        width: 7vw;
        margin: 2vh 2vh;
        filter: brightness(10);
    }

    #icon2 .div {
        width: 3vw;
        height: 3vw;
        margin: 2vh 1vh;
        display: none;



    }

    #icon2 h3 {
        display: none;
    }





    #page15 #imggg {
        position: absolute;
        width: 5vw;
        top: 50%;
    }


    
    #page16{
        background: none;
        display: flex;
    }


}